<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/librariesCSS.html') %>
        <title>
            <%= titulo %>
        </title>
</head>

<body>
    <%- include('templates/header.html') %>

        <div class="container mt-5">
            <div class="row">
                <h1 class="text-center mb-4" id="tituloPrincipal">
                   ALUMNOS
                </h1>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="filtroSexo" class="form-label">Filtrar por Cuatrimestre</label>
                        <select class="form-select" id="filtroSexo">
                            <option value="0" selected >Todos Los Alumnos</option>
                            <option value="M"> Hombres </option>
                            <option value="F"> Mujeres </option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="buscador" class="form-label">Buscar</label>
                        <input type="text" class="form-control" id="buscador" placeholder="Buscar por nombre">
                    </div>
                </div>

                <div class="col-md-6 text-end">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" id="modalAlumnos">
                        Agregar Nuevo
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" id="content">
                    <h3 class="mb-3">Tabla ALUMNOS</h3>
                    <table class="table table-bordered tablas" id="TablaAlumnos">
                        <thead>
                            <tr>
                                <th>Matricula</th>
                                <th>Nombre</th>
                                <th>Paterno</th>
                                <th>Materno</th>
                                <th>Genero</th>
                                <th>Fecha de Nacimiento</th>
                                <th style="display: none;">Fecha de OCULTO</th>
                                <th>Edad</th>
                                <th>Domicilio</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < data.length; i++) { %>
                                <tr id="<%= data[i].Matricula %>">
                                    <td >
                                        <%= data[i].Matricula %>
                                    </td>
                                    <td>
                                        <%= data[i].Nombre %>
                                    </td>
                                    <td>
                                        <%= data[i].Paterno %>
                                    </td>
                                    <td>
                                        <%= data[i].Materno %>
                                    </td>
                                    <td>
                                        <%= data[i].Genero %>
                                    </td>
                                    <td>
                                        <%= new Date(data[i].FechaNac).toLocaleDateString() %>
                                    </td>
                                    <td style="display: none;">
                                        <%= data[i].FechaNac %>
                                    </td>
                                    <td>
                                        <%= data[i].Edad %>
                                    </td>
                                    
                                    <td>
                                        Col: <%= data[i].Colonia %>, C: <%= data[i].Calle %>, N: <%= data[i].Numero %>
                                    </td>
                                    <td width="50">
                                    <button class="btn btn-sm btn-warning editarAlumno"
                                        data-matricula="<%= data[i].Matricula %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                          </svg>Editar</button>
                                    </td>
                                    <td width="50">
                                        <button class="btn btn-sm btn-danger eliminarAlumno" data-matricula="<%= data[i].Matricula %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                          </svg>Eliminar</button>

                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Datos del alumno</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formularioAlumno" action="/alumnos/agregar" method="post">
                            <div class="mb-3">
                                <label for="tfMatricula" class="form-label">Matricula</label>
                                <input type="text" class="form-control" id="tfMatricula" name="tfMatricula" required>
                            </div>
                            <div class="mb-3">
                                <label for="tfNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="tfNombre" name="tfNombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="tfPaterno" class="form-label">Apellido Paterno</label>
                                <input type="text" class="form-control" id="tfPaterno" name="tfPaterno" required>
                            </div>
                            <div class="mb-3">
                                <label for="tfMaterno" class="form-label">Apellido Materno</label>
                                <input type="text" class="form-control" id="tfMaterno" name="tfMaterno" required>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="tfSexo" class="form-label">Sexo</label>
                                    <select class="form-select" id="tfSexo" name="tfSexo" required>
                                        <option value="" selected disabled>Selecciona el Género</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                        <option value="N">Prefiero no decirlo</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="tfFechaNac" class="form-label">F Nacimiento</label>
                                    <input type="date" class="form-control" id="tfFechaNac" name="tfFechaNac" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="tfEdad" class="form-label">Edad</label>
                                    <input type="number" class="form-control" id="tfEdad" name="tfEdad" required>
                                </div>
                            </div>
                            <h5>Domicilio del Alumno</h5>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="tfColonia" class="form-label">Colonia</label>
                                    <input type="text" class="form-control" id="tfColonia" name="tfColonia" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="tfCalle" class="form-label">Calle</label>
                                    <input type="text" class="form-control" id="tfCalle" name="tfCalle" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="tfNumero" class="form-label">Numero</label>
                                    <input type="number" class="form-control" id="tfNumero" name="tfNumero" required>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="form-btn-agregar">Registrar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="pagination-container">
            <ul class="pagination">
            </ul>
          </nav>


        <%- include('templates/footer.html') %>
            <%- include('templates/librariesJS.html') %>
                <script src="/js/alumnos.js"></script>
                



</body>

</html>