<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/librariesCSS.html') %>
        <title>
            <%= titulo %>
        </title>
</head>

<body>
    <%- include('templates/header.html') %>
        <div class="container mt-5">
            <!-- Banner -->
            <div class="row">
                <div class="col">
                    <h1>Calificaciones</h1>
                </div>
            </div>

            <!-- Formulario para seleccionar materia y cuatrimestre -->
            <div class="row mt-3">
                <div class="col">
                    <form id="seleccionForm" class="d-flex align-items-end">
                        <div class="mb-3 me-2">
                            <label for="tfCuatrimestre" class="form-label">Cuatrimestre</label>
                            <select class="form-select" id="tfCuatrimestre" name="tfCuatrimestre" required>
                                <option value="" selected disabled>Selecciona un cuatrimestre</option>
                                <option value="1">1° Cuatrimestre</option>
                                <option value="2">2° Cuatrimestre</option>
                                <option value="3">3° Cuatrimestre</option>
                                <option value="4">4° Cuatrimestre</option>
                                <option value="5">5° Cuatrimestre</option>
                            </select>
                        </div>
                        <div class="mb-3 me-2">
                            <label for="tfMateria" class="form-label">Materia</label>
                            <select class="form-select" id="tfMateria" name="tfMateria" disabled required>
                                <option value="" disabled selected>Seleccione una materia</option>
                            </select>
                        </div>
                        
                        <input type="button" class="btn btn-primary" value="Mostrar Calificaciones"
                            id="mostrarCalificaciones">
                    </form>
                </div>
            </div>

            <!-- Tabla de calificaciones -->
            <div class="row mt-3">
                <div class="col">
                    <h2 id="tituloTabla">Calificaciones por Materia </h2>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="buscador" class="form-label">Buscar</label>
                            <input type="text" class="form-control" id="buscador" placeholder="Buscar por nombre">
                        </div>
                    </div>
                    <div id="MostrarTablaCalificaciones">

                    </div>
                </div>
            </div>
        </div>

        <%- include('templates/footer.html') %>
            <%- include('templates/librariesJS.html') %>
                <script src="/js/calificaciones.js"></script>
</body>

</html>

|---------------------------------------------------------------------------|
| Matricula | Alumnos | Promedios de "materia" | Promedio |
| | | parcial1 | parcial2 | parcial3 | |
|---------------------------------------------------------------------------|
| | | | | | |
|---------------------------------------------------------------------------|
| | | | | | |
|---------------------------------------------------------------------------|
| | | | | | |
|---------------------------------------------------------------------------|
| | Promedio Grupal | | | | |
|---------------------------------------------------------------------------|