<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/librariesCSS.html') %>
        <title>
            <%= titulo %>
        </title>
        <style>
            .card {
                margin-bottom: 20px;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                
            }
        </style>
</head>

<body>
    <%- include('templates/header.html') %>

    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-4">
                <div class="card">
                    <img src="/img/alumnos.png" class="card-img-top rounded-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">ALUMNOS</h5>
                        <p class="card-text">Contenido de la tarjeta 1.</p>
                        <a href="/alumnos" class="btn btn-success"> ir a alumnos</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="/img/materias.png" class="card-img-top rounded-top" alt="Imagen 2">
                    <div class="card-body">
                        <h5 class="card-title">MATERIAS</h5>
                        <p class="card-text">Contenido de la tarjeta 2.</p>
                        <a href="/materias" class="btn btn-success"> ir a materias</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="/img/calificaciones.png" class="card-img-top rounded-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">CALIFICACIONES</h5>
                        <p class="card-text">Contenido de la tarjeta 1.</p>
                        <a href="/calificaciones" class="btn btn-success"> ir a calificaciones</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <%- include('templates/footer.html') %>
    <%- include('templates/librariesJS.html') %>
</body>

</html>